{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}


    <div class="container">
        <div class="card mb-4 shadow-sm my-sm-3">
            <h3 class="mx-auto my-sm-3">Личный кабинет</h3>
            <div class="card-header">
                <h4>Фио:</h4>
                <h5>{{ user.surname }}</h5>
                <h5>{{ user.name }}</h5>
                <h5>{{ user.midName }}</h5>
            </div>
            <div class="card-body">
                <h4>Номер водительского:</h4>
                <h5>{{ user.number_driver }}</h5>
                <h4>Адрес:</h4>
                <h5>{{ user.adressDriver }}</h5>
                <h4>Стаж:</h4>
                <h5>{{ user.expDriver }} год</h5>
                <h4>КБМ:</h4>
                <h5>{{ user.kbm }}</h5>
            </div>
            <div class="card-header">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <h4>
                        <div id="users"> Администратор</div>
                    </h4>

                {% else %}
                    <h4>
                        <div id="users"> Пользователь</div>
                    </h4>
                {% endif %}

            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <h3 class="mx-auto my-sm-3">Автомобили</h3>
            {% for auto in autos %}
                <div class="col-6 mx-auto my-sm-3">
                    <div class="card mb-4 shadow-sm">
                        <a class="courseShow" href="{{ path('auto_show', {'vin': auto.vin}) }}">
                            <div class="card-header">
                                <h3>{{ auto.marka }}</h3>
                                <h3>{{ auto.model }}</h3>
                            </div>
                        </a>
                        <div class="card-body">
                            VIN: {{ auto.vin }} #
                            Гос номер: {{ auto.number }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="card mb-4 shadow-sm">
            <h3 class="mx-auto my-sm-3">Договора</h3>
            {% for contract in contracts %}
                <div class="col-6 mx-auto my-sm-3">

                    <div class="card mb-4 shadow-sm">
                        {# <a class="courseShow" href="{{ path('auto_show', {'vin': auto.vin}) }}"> #}
                        <div class="card-header">
                            <h3>На рассмотрении</h3>
                        </div>
                        {# </a> #}
                        <div class="card-body"> {% if contract.status==2 %}
                                Начало: {{ contract.date_start }} #
                                Конец: {{ contract.date_end }}{% endif %}
                        </div>
                    </div>

                </div>
                <div class="col-6 mx-auto my-sm-3">

                    <div class="card mb-4 shadow-sm">

                        <div class="card-header">
                            <h3>Действующие</h3>
                        </div>

                        <div class="card-body">
                            {% if contract.status==1 %}
                                Начало: {{ contract.date_start }} #
                                Конец: {{ contract.date_end }}
                            {% endif %}
                        </div>
                    </div>

                </div>
                <div class="col-6 mx-auto my-sm-3">

                    <div class="card mb-4 shadow-sm">

                        <div class="card-header">
                            <h3>Истекшие</h3>
                        </div>

                        <div class="card-body">
                            {% if contract.status==3 %}
                                Начало: {{ contract.date_start }} #
                                Конец: {{ contract.date_end }}
                            {% endif %}
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>

    </div>
{% endblock %}
