{% extends 'base.html.twig' %}

{% block title %}Contract index{% endblock %}

{% block body %}
    <h1>Contract index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_start</th>
                <th>Date_end</th>
                <th>Amount</th>
                <th>Purpose</th>
                <th>Status</th>
                <th>Agent_id</th>
                <th>Date_start_one</th>
                <th>Date_end_one</th>
                <th>Date_start_two</th>
                <th>Date_end_two</th>
                <th>Date_start_three</th>
                <th>Date_end_three</th>
                <th>Diagnostic_card</th>
                <th>Non_limited</th>
                <th>Driver_one</th>
                <th>Driver_two</th>
                <th>Driver_three</th>
                <th>Driver_four</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contract in contracts %}
            <tr>
                <td>{{ contract.id }}</td>
                <td>{{ contract.dateStart ? contract.dateStart|date('Y-m-d') : '' }}</td>
                <td>{{ contract.dateEnd ? contract.dateEnd|date('Y-m-d') : '' }}</td>
                <td>{{ contract.amount }}</td>
                <td>{{ contract.purpose }}</td>
                <td>{{ contract.status }}</td>
                <td>{{ contract.agentId }}</td>
                <td>{{ contract.dateStartOne ? contract.dateStartOne|date('Y-m-d') : '' }}</td>
                <td>{{ contract.dateEndOne ? contract.dateEndOne|date('Y-m-d') : '' }}</td>
                <td>{{ contract.dateStartTwo ? contract.dateStartTwo|date('Y-m-d') : '' }}</td>
                <td>{{ contract.dateEndTwo ? contract.dateEndTwo|date('Y-m-d') : '' }}</td>
                <td>{{ contract.dateStartThree ? contract.dateStartThree|date('Y-m-d') : '' }}</td>
                <td>{{ contract.dateEndThree ? contract.dateEndThree|date('Y-m-d') : '' }}</td>
                <td>{{ contract.diagnosticCard }}</td>
                <td>{{ contract.nonLimited ? 'Yes' : 'No' }}</td>
                <td>{{ contract.driverOne }}</td>
                <td>{{ contract.driverTwo }}</td>
                <td>{{ contract.driverThree }}</td>
                <td>{{ contract.driverFour }}</td>
                <td>
                    <a href="{{ path('contract_show', {'id': contract.id}) }}">show</a>
                    <a href="{{ path('contract_edit', {'id': contract.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="20">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contract_new') }}">Create new</a>
{% endblock %}
